<%- include('../partials/header') %>
<div class="card border border-secondary">
  <div class="form-spacing card-body">
    <form action="/clucks" method="POST">
      <input type="hidden" name="username" id="username" value="<%= username %>"
      <h4>Content</h4>
        <textarea class="form-control" name="content" placeholder="Whatchoo cluckin' 'bout, Willis?"></textarea>
      <h4>Image Url</h4>
        <input type="text" name="image_url" class="form-control" placeholder="e.g. https://www.example.com/some.png">
      <div class="button-container">
        <input type="submit" class="btn btn-lg btn-outline-secondary" value="Cluck!">
      </div>
    </form>
  </div>
</div>
<%- include('../partials/footer') %>