.cluck-logo {
  height: 60px;
  width: 60px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1em;
}

.navbar-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-box .btn {
  margin: 0 5px;
}

.form-spacing h4 {
  margin: 0.7em;
}

.small-image {
  width: 75px;
  height: 75px;
  border-radius: 10%;
  margin-right: 1em;
}

.card-body {
  margin: 0.5em;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
}